header {
    height: 60vh;
    background-color: var(--titles);
    position: relative;
}

/*NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    background-color: var(--background-white);
    height: 35px;
    border-radius: 20px;
    margin-top: 12px;
    margin-bottom: 15px;
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
}

.logo > img {
    width: 90px;
    margin-left: 25px;
    margin-right: 75px;
    margin-top: 7px;
    cursor: pointer;
}

.nav-menu > .menu > ul {
    display: flex;
    gap: 5px
}

.nav-menu > .menu > ul > li > a, .dropdown-item {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    padding: 6.5px 20px; /*altura / largura*/
    display: block;
}

.nav-menu > .menu > ul > li > a:hover{
    background-color: var(--logo);
    color: var(--background-white);
}

.nav-menu > .menu > ul > li > .dropdown-menu {
    position: absolute;
    display: none;
    background-color: var(--background-white);
    border-radius: 0px 0px 5px 5px; 
}

.nav-menu > .menu > ul > li:hover .dropdown-menu {
    display: block;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li {
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li > a {
    padding: 10px 16px;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li > a:hover{
    background-color: var(--logo);
    color: var(--background-white);
}

/* > SEARCH BAR */
.nav-menu > .search-bar > form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 75px;
    margin-right: 25px;
}
.nav-menu > .search-bar > form > input {
    border-radius: 20px;
    width: 174px;
    height: 26px;
    margin-top: 4px;
    background-color: var(--search-bar);
    border: none;
    border: var(--logo);
}

.nav-menu > .search-bar > form > .user-profile > svg {
    margin-top: 5px;
    cursor: pointer;
}

.nav-menu > .search-bar > form > .user-profile > svg:hover{
    color: var(--logo);
}

.title-page {
    margin-bottom: -120px;

}





/* FOOTER SECTION */
#footer {
    background-color: var(--titles);
    height: 34vh;
}

.container-top-footer {
    padding: 30px 54px 30px 54px;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.container-left-footer h3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--background-white);
    text-transform: uppercase;
}

.info-left {
    columns: 2;
    margin-top: 10px;
    line-height: 20px;
}

.container-left-footer p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--pick-up-date);
}

.social-footer a {
    color: var(--pick-up-date);
}

.social-footer i {
    margin-right: 5px;
    cursor: pointer;
}

.container-right-footer h3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--background-white);
    text-transform: uppercase;
}

.container-right-footer a {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--pick-up-date);
    cursor: pointer;
}

.info-right {
    columns: 3;
    margin-top: 10px;
    line-height: 20px;
}

.conainer-botton-footer {
    background-color: black;
    height: 7vh;
}

.conainer-botton-footer p {
    padding: 10px 0 10px 54px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: var(--pick-up-date);
    text-align: center;
}