@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --dark-blue: #00092B;
    --destaque: #194EC3;
    --logo: #2945A9;
    --highligts: #597AED;
    --background-white: #fff;

    /*avaliation palet*/
    --bg-excellent: #7BA8FF;
    --excellent: #001356;
    --bg-great: #7BFF8A;
    --great: #005613;
    --bg-good: #E7FF7B;
    --good: #564800;
    --bg-fair: #FFC47B;
    --fair: #562400;
    --bg-poor: #FF8383;
    --poor: #450000;

    /*gray palet*/
    --titles: #141414;
    --pick-up-date: #959595;
    --search-bar: #DADDE8;
    --light-gray: #EBEBEB;
    --background: #D9D9D9;
    --day: #565656;
    --faq: #B9B9B9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 0.7rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--destaque);
    border-radius: 3px;
}

body {
    background: var(--background);
}