@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --dark-blue: #00092B;
    --destaque: #194EC3;
    --logo: #2945A9;
    --highligts: #597AED;
    --background-white: #fff;

    /*avaliation palet*/
    --bg-excellent: #7BA8FF;
    --excellent: #001356;
    --bg-great: #7BFF8A;
    --great: #005613;
    --bg-good: #E7FF7B;
    --good: #564800;
    --bg-fair: #FFC47B;
    --fair: #562400;
    --bg-poor: #FF8383;
    --poor: #450000;

    /*gray palet*/
    --titles: #141414;
    --pick-up-date: #959595;
    --search-bar: #DADDE8;
    --light-gray: #EBEBEB;
    --background: #D9D9D9;
    --day: #565656;
    --faq: #B9B9B9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 0.7rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--destaque);
    border-radius: 3px;
}

body {
    background: var(--background);
}

header {
    height: 128.5vh;
    background-image: url(../images/imageHeader.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/*NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    background-color: var(--background-white);
    height: 35px;
    border-radius: 20px;
    margin-top: 12px;
    margin-bottom: 15px;
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
}

.logo > img {
    width: 90px;
    margin-left: 25px;
    margin-right: 75px;
    margin-top: 7px;
    cursor: pointer;
}

.nav-menu > .menu > ul {
    display: flex;
    gap: 5px
}

.nav-menu > .menu > ul > li > a, .dropdown-item {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    padding: 6.5px 20px; /*altura / largura*/
    display: block;
}

.nav-menu > .menu > ul > li > a:hover{
    background-color: var(--logo);
    color: var(--background-white);
}

.nav-menu > .menu > ul > li > .dropdown-menu {
    position: absolute;
    display: none;
    background-color: var(--background-white);
    border-radius: 0px 0px 5px 5px; 
}

.nav-menu > .menu > ul > li:hover .dropdown-menu {
    display: block;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li {
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li > a {
    padding: 10px 16px;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li > a:hover{
    background-color: var(--logo);
    color: var(--background-white);
}

/* > SEARCH BAR */
.nav-menu > .search-bar > form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 75px;
    margin-right: 25px;
}
.nav-menu > .search-bar > form > input {
    border-radius: 20px;
    width: 174px;
    height: 26px;
    margin-top: 4px;
    background-color: var(--search-bar);
    border: none;
    border: var(--logo);
}

.nav-menu > .search-bar > form > .user-profile > svg {
    margin-top: 5px;
    cursor: pointer;
}

.nav-menu > .search-bar > form > .user-profile > svg:hover{
    color: var(--logo);
}

/* HEADER */
/* > Títulos */
.title-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-header h1 {
    font-family: 'Syne', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--background-white);
}

.title-header p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--background-white);
}

.tags {
    display: flex;
    gap: 5px;
    /*margin-left: 70px;*/
}

.tags > p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--titles);
    background-color: var(--background-white);
    border-radius: 5px;
    width: 80px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.tags > p:hover{
    background-color: var(--dark-blue);
    color: var(--background-white);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.booking {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 315px;
}

.booking > .container-booking {
    padding: 15px;
    background: var(--background-white);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1500px;
    margin-top: 5px;
    gap: 20px;
    display: flex;
}

.booking > .container-booking > .info {
    margin-top: 6px;
    gap: 20px;
}

/* Inicialmente esconde o conteúdo não ativo */
.info {
    display: none;
}

/* Mostra apenas o conteúdo ativo */
.info.active {
    display: flex;
}

/* Destaque para a tag ativa */
.tag.active {
    background-color: var(--dark-blue);
    color: var(--background-white);
}

.vl {
    border-left: 1px solid var(--light-gray);
    height: 45px;
}

.booking > .container-booking > .info p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--pick-up-date);
}

.pickup-input input,
.dropoff-input input,
.date-input input,
.time-input input {
    border: none; 
    height: 20px;
}

.pickup-input ::placeholder,
.dropoff-input ::placeholder {
    color: var(--titles);

}

.number-input {
    width: 30px;
}

.btn-book-now > button {
    color: var(--background-white);
    background-color: var(--logo);
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-book-now > button:hover {
    background-color: #001356;
}

/* CAR CATEGORY SECTION */
#car-category {
    height: 75vh;
    background-color: var(--background);
}

.title h2 {
    font-family: 'Syne', sans-serif;
    font-size: 30px;
}

.container-top {
    padding: 45px 54px 16px 54px;
    display: flex;
    justify-content: space-between;
}

.card-list {
    display: flex;
    gap: 12px;
}

.card-item {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.card-item .car{
    width: 170px;
 }

 .slider-wrapper {
    overflow: hidden;
    margin: 0 50px 20px;
}

.inside-card-item {
    position: absolute;
    top: 0%;
}

.inside-card-item h3 {
    margin: 10px 0 0 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* alterar a sombra*/
}

.white-text {
    color: var(--background-white);
}

.inside-card-item img {
    margin-top: 145px;
    margin-left: 125px;
    cursor: pointer;
    width: 35px;
}

.inside-card-item img:hover {
    content: url(../images/arrow-up-right-hover.svg);
}

/* HIGLIGHTS SECTION */
#higlights {
    background-color: var(--titles);
    height: 26vh;
    font-family: 'Poppins', sans-serif;
}

.container-higlights {
    padding-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.higlightsNumbers {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 15px;
}

.vl-blue {
    border-left: 3px solid var(--highligts);
    height: 55px;
    border-radius: 10px;
}

.higlights-item {
    color: var(--background-white);
    text-align: center;
    line-height: 30px;
}

.higlights-item h3 {
    font-size: 40px;
    font-weight: 500;
}

.higlights-item span {
    color: var(--highligts);
}

.higlights-item p {
    font-size: 14px;
}

.higlights-text {
    color: var(--background-white);
    font-size: 22px;
    font-weight: 600;
    width: 250px;
    line-height: 30px;
    text-align: center;
}

/* FEEDBACK SECTION */
#feedback {
    background-color: var(--background);
    height: 120vh;
}

.title h2 {
    font-family: 'Syne', sans-serif;
    font-size: 30px;
    margin-bottom: 16px;
}

.container-feedback {
    padding: 45px 54px 16px 54px;
}

.container-all {
    columns: 2;
}

.container-feedback-item {
    width: 510px;
    background-color: var(--background-white);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.container-feedback-item {
    padding: 10px;
    margin-bottom: 10px;
    /* falta colocar a sombra */
}

.container-feedback-item .top {
    display: flex;
}

.background-user-profile {
    background-color: var(--dark-blue);
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.top > .name-avaliation {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
    gap: 221px;
}

.user-name {
    font-size: 16px;
    font-weight: 600;
}

.avaliation-excellent {
    color: var(--dark-blue);
    font-size: 12px;
    font-weight: 600;
    background-color: var(--bg-excellent);
    padding: 5px 10px;
    border-radius: 20px;
}

.text-avaliation p {
    margin-top: 10px;
    font-size: 12px;
    width: 450px;
}

.choose-rental-car {
    display: flex;
    margin-top: 10px;
}

.choose-rental-car h6 {
    font-size: 12px;
    font-weight: 600;
}
.marca-modelo {
    display: flex;
    gap: 5px;
    margin-left: 5px;
}

.choose-rental-car .carMarca, .carModelo {
    font-size: 12px;
    font-weight: 500;
}

.car-avaliation {
    display: flex;
}

.car-avaliation h6 {
    font-size: 12px;
    font-weight: 600;
}

.star {
    margin-left: 5px;
    margin-top: -4px;
}

.container-button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.container-button button {
    padding: 10px 10px;
    border-radius: 0 10px 0 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.moreFeedbacks {
    background-color: transparent;
    color: var(--logo);
    border: 2px solid var(--logo);
}

.moreFeedbacks:hover {
    background-color: var(--background-white);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.getFeedback {
    background-color: var(--logo);
    color: var(--background-white);
    border: none;
}

.getFeedback:hover {
    background-color: var(--excellent);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* BEST OFFER SECTION */
#best-offer {
    background-color: var(--titles);
    height: 40vh;
}

.container-offer {
    padding: 30px 54px 30px 54px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.container-right h2 {
    color: var(--background-white);
    font-family: 'Syne', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.container-right p {
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    color: var(--background-white);
    padding: 10px 0 10px 0;
}

.container-right span {
    color: var(--day);
    font-size: 12px;
}

.container-right button {
    background-color: var(--logo);
    color: var(--background-white);
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.container-right button:hover {
    background-color: var(--excellent);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container-left img {
    width: 400px;
    margin-top: -10px;
}

/* FAQ SECTION */
#faq {
    background-color: var(--background);
    height: 105vh;
    margin: auto;
}

.container-faq {
    padding: 45px 54px 16px 54px;
}

.title h2 {
    text-align: center;
}

.accordion {
    background-color: var(--faq);
    color: var(--titles);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 100%; /* alterar */
    padding: 15px 20px 15px 20px;;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.active, 
.accordion:hover {
    background-color: var(--); /* escolher cor */ 
}

.pannel {
    padding: 15px 32px 15px 32px;
    background-color: var(--faq);
    overflow: hidden;
    display: none;
}

.pannel p {
    color: var(--titles);
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.faq-item {
    border-radius: 10px;
    margin: 3px 0;
}

.faq.active {
    border: none;
}

.make-contact {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    gap: 3px;
    justify-content: center;
}

.make-contact a {
    color: var(--logo);
    cursor: pointer;
}

/* FOOTER SECTION */
#footer {
    background-color: var(--titles);
    height: 34vh;
}

.container-top-footer {
    padding: 30px 54px 30px 54px;
    display: flex;
    gap: 150px;
    justify-content: center;
}

.container-left h3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--background-white);
    text-transform: uppercase;
}

.info-left {
    columns: 2;
    margin-top: 10px;
    line-height: 20px;
}

.container-left p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--pick-up-date);
}

.social-footer {
    color: var(--pick-up-date);
}

.social-footer i {
    margin-right: 5px;
    cursor: pointer;
}

.container-right h3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--background-white);
    text-transform: uppercase;
}

.container-right a {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--pick-up-date);
    cursor: pointer;
}

.info-right {
    columns: 3;
    margin-top: 10px;
    line-height: 20px;
}

.conainer-botton-footer {
    background-color: black;
    height: 7vh;
}

.conainer-botton-footer p {
    padding: 10px 0 10px 54px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: var(--pick-up-date);
    text-align: center;
}