@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --dark-blue: #00092B;
    --destaque: #194EC3;
    --logo: #2945A9;
    --highligts: #597AED;
    --background-white: #fff;

    /*avaliation palet*/
    --bg-excellent: #7BA8FF;
    --excellent: #001356;
    --bg-great: #7BFF8A;
    --great: #005613;
    --bg-good: #E7FF7B;
    --good: #564800;
    --bg-fair: #FFC47B;
    --fair: #562400;
    --bg-poor: #FF8383;
    --poor: #450000;

    /*gray palet*/
    --titles: #141414;
    --pick-up-date: #959595;
    --search-bar: #DADDE8;
    --light-gray: #EBEBEB;
    --background: #D9D9D9;
    --day: #565656;
    --faq: #B9B9B9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 0.7rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--destaque);
    border-radius: 3px;
}

body {
    background: var(--background);
}

header {
    height: 129vh;
    background-image: url(../images/imageHeader.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/*NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    background-color: var(--background-white);
    height: 35px;
    border-radius: 20px;
    margin-top: 12px;
    margin-bottom: 15px;
    width: 100%;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
}

.logo > img {
    width: 90px;
    margin-left: 25px;
    margin-right: 75px;
    margin-top: 7px;
    cursor: pointer;
}

.nav-menu > .menu > ul {
    display: flex;
    gap: 5px
}

.nav-menu > .menu > ul > li > a, .dropdown-item {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    padding: 6.5px 20px; /*altura / largura*/
    display: block;
}

.nav-menu > .menu > ul > li > a:hover{
    background-color: var(--logo);
    color: var(--background-white);
}

.nav-menu > .menu > ul > li > .dropdown-menu {
    position: absolute;
    display: none;
    background-color: var(--background-white);
    border-radius: 0px 0px 5px 5px; 
}

.nav-menu > .menu > ul > li:hover .dropdown-menu {
    display: block;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li {
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li > a {
    padding: 10px 16px;
}

.nav-menu > .menu > ul > li > .dropdown-menu > li > a:hover{
    background-color: var(--logo);
    color: var(--background-white);
}

/* > SEARCH BAR */
.nav-menu > .search-bar > form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 75px;
    margin-right: 25px;
}
.nav-menu > .search-bar > form > input {
    border-radius: 20px;
    width: 174px;
    height: 26px;
    margin-top: 4px;
    background-color: var(--search-bar);
    border: none;
    border: var(--logo);
}

.nav-menu > .search-bar > form > .user-profile > svg {
    margin-top: 5px;
    cursor: pointer;
}

.nav-menu > .search-bar > form > .user-profile > svg:hover{
    color: var(--logo);
}

/* HEADER */
/* > Títulos */
.title-header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-header h1 {
    font-family: 'Syne', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--background-white);
}

.title-header p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--background-white);
}

.tags {
    display: flex;
    gap: 5px;
    align-self: flex-start;
    /*margin-left: 70px;*/
}

.tags > p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: var(--titles);
    background-color: var(--background-white);
    border-radius: 5px;
    width: 80px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.tags > p:hover{
    background-color: var(--dark-blue);
    color: var(--background-white);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.booking {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 315px;
}

.booking > .container-booking {
    padding: 15px;
    background: var(--background-white);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin-top: 5px;
    gap: 20px;
    display: flex;
}

.booking > .container-booking > .info {
    margin-top: 6px;
    gap: 20px;
}

/* Inicialmente esconde o conteúdo não ativo */
.info {
    display: none;
}

/* Mostra apenas o conteúdo ativo */
.info.active {
    display: flex;
}

/* Destaque para a tag ativa */
.tag.active {
    background-color: var(--dark-blue);
    color: var(--background-white);
}

.vl {
    border-left: 1px solid var(--light-gray);
    height: 45px;

}

.booking > .container-booking > .info p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--pick-up-date);
}

.pickup-input input,
.dropoff-input input,
.date-input input,
.time-input input {
    border: none; 
    height: 20px;
}

.number-input {
    width: 30px;
}

.btn-book-now > button {
    color: var(--background-white);
    background-color: var(--logo);
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-book-now > button:hover {
    background-color: #001356;
}